name: Build

on:
  workflow_dispatch:

jobs:
  android:
    if: False
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d
          link-to-sdk: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gperf

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-android.sh
          ./build-openssl-android.sh $ANDROID_HOME 26.3.11579264 openssl third-party/openssl

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-android.sh
          ./build-tdlib-android.sh td $ANDROID_HOME 26.3.11579264 third-party/openssl c++_static JSONJava

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-android
          path: tdlib/android

  macos:
    if: False
    runs-on: macos-latest
    strategy:
        matrix:
          arch: [arm64, x86_64]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          brew install gperf cmake ninja

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-macos.sh
          ./build-openssl-macos.sh openssl third-party/openssl ${{ matrix.arch }}

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-macos.sh
          ./build-tdlib-macos.sh td third-party/openssl ${{ matrix.arch }}

      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-macos-${{ matrix.arch }}
          path: tdlib/macos/${{ matrix.arch }}

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gperf clang llvm gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross

          echo "Debug: sysroot contents"
          ls -l /usr/aarch64-linux-gnu/lib

      - name: Install Conan
        run: |
          pip install conan==2.*

      - name: Build TDLib
        run: |
          chmod +x build-linux.sh
          ./build-linux.sh ${{ matrix.arch }}

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-linux-${{ matrix.arch }}
          path: tdlib/linux/${{ matrix.arch }}

  commit:
    needs: [linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
