name: Build

on:
  workflow_dispatch:

jobs:
  android:
    if: False
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d
          link-to-sdk: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gperf

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-android.sh
          ./build-openssl-android.sh $ANDROID_HOME 26.3.11579264 openssl third-party/openssl

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-android.sh
          ./build-tdlib-android.sh td $ANDROID_HOME 26.3.11579264 third-party/openssl c++_static JSONJava

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-android
          path: tdlib/android

  macos:
    if: False
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          brew install gperf cmake ninja

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-macos.sh
          ./build-openssl-macos.sh openssl third-party/openssl

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-macos.sh
          ./build-tdlib-macos.sh td third-party/openssl

      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-macos
          path: tdlib/macos

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake zlib1g-dev gperf ninja-build gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Build zlib
        if: matrix.arch == 'arm64'
        run: |
          curl -LO https://zlib.net/zlib-1.3.1.tar.gz
          tar xf zlib-1.3.1.tar.gz
          cd zlib-1.3.1
          
          CC=aarch64-linux-gnu-gcc \
          AR=aarch64-linux-gnu-ar \
          RANLIB=aarch64-linux-gnu-ranlib \
          ./configure --prefix=/usr/local/arm64 --static

          make -j$(nproc)
          sudo make install

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-linux.sh
          ./build-openssl-linux.sh openssl third-party/openssl ${{ matrix.arch }}

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-linux.sh
          ./build-tdlib-linux.sh td third-party/openssl ${{ matrix.arch }}

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-linux-${{ matrix.arch }}
          path: tdlib/linux/${{ matrix.arch }}

  commit:
    needs: [linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download Android Artifacts
        uses: actions/download-artifact@v4
        with:
          name: tdlib-android
          path: tdlib/android

      - name: Download macOS Artifacts
        uses: actions/download-artifact@v4
        with:
          name: tdlib-macos
          path: tdlib/macos

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add tdlib
          git commit -m "Update compiled libs [skip ci]" || echo "No changes to commit"
          git push
