name: Build

on:
  workflow_dispatch:

jobs:
  android:
    if: False
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d
          link-to-sdk: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gperf

      - name: Build OpenSSL
        run: |
          chmod +x build-openssl-android.sh
          ./build-openssl-android.sh $ANDROID_HOME 26.3.11579264 openssl third-party/openssl

      - name: Build TDLib
        run: |
          chmod +x build-tdlib-android.sh
          ./build-tdlib-android.sh td $ANDROID_HOME 26.3.11579264 third-party/openssl c++_static JSONJava

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-android
          path: tdlib/android

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          brew install cmake ninja

      - name: Install Conan
        run: |
          pip install conan

      - name: Build TDLib
        run: |
          chmod +x build.sh
          ./build.sh macos ${{ matrix.arch }}

      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-linux-${{ matrix.arch }}
          path: tdlib/Linux

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gperf gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Install Conan
        run: |
          pip install conan==2.*

      - name: Build TDLib
        run: |
          chmod +x build.sh
          ./build.sh linux ${{ matrix.arch }}

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-macos-${{ matrix.arch }}
          path: tdlib/Darwin

  commit:
    needs: [macos, linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
