name: Build Android

on:
  workflow_call:
    outputs:
      arm64: ${{ jobs.build-android.outputs.arm64 }}
      armeabi: ${{ jobs.build-android.outputs.armeabi }}
      x86_64: ${{ jobs.build-android.outputs.x86_64 }}
      x86: ${{ jobs.build-android.outputs.x86 }}

jobs:
  build-android:
    runs-on: ubuntu-latest

    outputs:
      arm64: ${{ steps.outs.outputs.arm64 }}
      armeabi: ${{ steps.outs.outputs.armeabi }}
      x86_64: ${{ steps.outs.outputs.x86_64 }}
      x86: ${{ steps.outs.outputs.x86 }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install required dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gperf php-cli unzip zip \
            default-jdk default-jre ninja-build

      - name: Make scripts executable
        run: |
          chmod +x scripts/android/fetch-sdk.sh
          chmod +x scripts/android/check-environment.sh
          chmod +x scripts/android/build-openssl.sh
          chmod +x scripts/android/build-tdlib.sh

      - name: Fetch Android SDK / NDK
        working-directory: scripts/android
        run: ./fetch-sdk.sh SDK 23.2.8568313

      - name: Build OpenSSL
        working-directory: scripts/android
        run: ./build-openssl.sh SDK 23.2.8568313 third-party/openssl OpenSSL_1_1_1w

      - name: Build TDLib (minimal)
        working-directory: scripts/android
        run: ./build-tdlib.sh SDK 23.2.8568313 third-party/openssl c++_static

      - name: Move native build output to a stable location
        id: outs
        run: |
          mkdir -p out/android
          mv scripts/android/tdlib/libs out/android/

          echo "arm64=out/android/arm64-v8a" >> $GITHUB_OUTPUT
          echo "armeabi=out/android/armeabi-v7a" >> $GITHUB_OUTPUT
          echo "x86_64=out/android/x86_64" >> $GITHUB_OUTPUT
          echo "x86=out/android/x86" >> $GITHUB_OUTPUT
